################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/slnx.sqlite
/DatingApp.API/.vs/DatingApp.API/v17/.futdcache.v2
/DatingApp.API/.vs/DatingApp.API/v17/.suo
/DatingApp.API/.vs/ProjectEvaluation/datingapp.api.metadata.v5.2
/DatingApp.API/.vs/ProjectEvaluation/datingapp.api.projects.v5.2
/DatingApp.API/.vs/DatingApp.API/DesignTimeBuild/.dtbcache.v2
/DataingApp-SPA
